body
{
    margin-left:auto;
    margin-right:auto;
    font-size:16px;
    font-family: 'Raleway', sans-serif;
    line-height:1.8em;
}

header
{
    padding:2px;
    text-align:center;
    background-size: cover;
    background-image: url('img/bg.jpg');
    background-position: fixed;
    color:#FFFFFF;
}

header img
{
    border-radius: 50%;
    max-width: 150px;
    margin-top:45px;
    margin-bottom: 20px;
}

#info
{
    max-width:650px;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
}

h1
{
    text-transform: uppercase;
    margin-top:15px;
    margin-bottom:15px;
}

h2
{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing:3px;
}

h3
{
    font-weight:bold;
}

.courses
{
    display: flex;
    flex-wrap: wrap;
    
}

.title
{
    flex: 0 0 40%;
    max-width: 40%;
    font-weight:bold;
    color: #78A1B3;
    width:400px;
}

.courses-description
{
    flex: 0 0 60%;
    max-width: 60%;
}

.skills
{
    clear:both;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

}

.basic-knowledge
{
    float:left;
    width:50%
}

.still-learning
{
    float:left;
    width:50%
}

.language
{
    clear:both;
}

.education
{
    border-bottom: 1px solid #ccc;

}

.experience
{
    border-bottom: 1px solid #ccc;

}

main 
{
    max-width: 1000px;
    margin-left:auto;
    margin-right:auto;
}

footer
{
    background-color: #78A1B3;
    text-align: center;
    color: #FFFFFF;
}

span
{
    color: #78A1B3;
    text-decoration:underline;
}

a 
{
    color:#FFFFFF;
}
  
a:hover 
{
    opacity: 0.5;
}

nav
{
    display:flex;
    justify-content:center;
}

.nav-item
{
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    width: 2.5em;
    height: 2.5em;
    margin: 5px;
    display:flex;
    align-items:center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.nav-item:hover
{
    cursor: pointer;
    background-color: #FFFFFF;
    opacity: 0.175;
}

.nav-item a
{
    font-size: 25px;
}